{
    "entries": [
        {"title":"Dethklok - The Hammer", "videoID": "mNN9MH6UQ3c"},
        {"title":"Against the Ninja - Dragon Sound (Clean)", "videoID": "B1UEIDH_nwg"},
        {"title":"DragonForce - Through The Fire And Flames (Video)", "videoID": "0jgrCKhxE1s"},
        {"title":"Slipknot - Dead Memories (HD Audio)", "videoID": "YoFkjkOuIZw"},
        {"title":"Joe Satriani - Ceremony (best quality)", "videoID": "rLPWnH0cECw"},
        {"title":"One Shot At Glory-Judas Priest", "videoID": "_fpscxE9WDk"},
        {"title":"Deftones - Be Quiet And Drive (Far Away) (Video)", "videoID": "KvknOXGPzCQ"},
        {"title":"Mr. Crowley", "videoID": "vDVLMS_Yhe4"},
        {"title":"Friends - Dragon Sound", "videoID": "R43dYg_Kuc0"},
        {"title":"Puscifer - Man Overboard ~FULL~ *HD*", "videoID": "IShkL0LtyBI"},
        {"title":"Lucifer's Hammer", "videoID": "TewgWZXEPPA"},
        {"title":"Flavor Crystal 7", "videoID": "PCnGYAUpM9Q"},
        {"title":"Superheroes", "videoID": "BpQBFYNO6gk"},
        {"title":"The Metal - Tenacious D", "videoID": "qR7U1HIhxfA"},
        {"title":"RED FANG - Prehistoric Dog (Official Music Video)", "videoID": "VufilzHKTqk"},
        {"title":"Rob Zombie - Superbeast", "videoID": "uHBtpqbOKXk"},
        {"title":"[HD] Siam Shade - Virtuoso", "videoID": "Pg1SjSfag7s"},
        {"title":"TESTAMENT - More Than Meets The Eye (OFFICIAL MUSIC VIDEO)", "videoID": "09rHDabBQfA"},
        {"title":"Skid Row - Youth Gone Wild (Official Music Video)", "videoID": "4jpf-eC-Xlk"},
        {"title":"Red Fang - Night Destroyer", "videoID": "zERKsdTKoAg"},
        {"title":"Slipknot - Vermillion [OFFICIAL VIDEO]", "videoID": "xKcbYUwmmlE"},
        {"title":"Tenacious D - Master Exploder - 07", "videoID": "fA4mVS0u_uo"},
        {"title":"Type O Negative - I Don't Wanna Be Me [OFFICIAL VIDEO]", "videoID": "LXIWRan3XGY"}
    ]
}
